<p id="notice"><%= notice %></p>

<h1>ptypes</h1>

<table>
  <thead>
    <tr>
      <th>ptype</th>
      <th>Chinese</th>
      <th>Japanese</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ptypes.each do |ptype| %>
      <tr>
        <td><%= ptype.poke_type %></td>
        <td><%= ptype.chinese %></td>
        <td><%= ptype.japanese %></td>
        <td><%= link_to 'Show', ptype %></td>
        <td><%= link_to 'Edit', edit_ptype_path(ptype) %></td>
        <td><%= link_to 'Destroy', ptype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New ptype', new_ptype_path %>
