<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>
<% if @ptypes.empty? %>
 <p> There are no Types in the Pokedex </p>
<% else %>
<div class = "columns is-multiline">
    <% @ptypes.each do |type| %>
     <div class="column is-one-third">
      <div class="card">
        <div class="title">
          <%= link_to type.poke_type, type %>
        </div>
        <div class="card-content">
          <p> Stats: </p>
          <p class="card-footer-item"> Chinese: <%= type.chinese %></p>
          <p class="card-footer-item"> Japanese: <%= type.japanese %></p>
        </div>
        </div>
      </div>
  <%end%>
<% end %>
</div>


