<p id="notice"><%= notice %></p>

<h1 class="title is-4">Pokedex</h1>
<% if @pokedexes.empty? %>
 <p> There are no Pokemon in the Pokedex </p>
<% else %>
<p> All Pokemon: </p>
<div class = "columns is-multiline">
    <% @pokedexes.each do |pokedex| %>

     <div class="column is-one-third">
      <div class="card">
        <div class="title">
          <%= link_to pokedex.name, pokedex %>
        </div>
        <div class="card-content">
          <p> Stats: </p>
          <p class="card-footer-item"> Hit points: <%= pokedex.hp %></p>
          <p class="card-footer-item"> Attack: <%= pokedex.att %></p>
          <p class="card-footer-item"> Defence: <%= pokedex.def %></p>
          <p> Type(s): </p>
          <% pokedex.ptypes.each do |type| %>
            <p class="card-footer-item"> <%= type.poke_type %> </p>
          <% end %>
        </div>
        </div>
      </div>

    <% end %>
</div>




<div class = "column is-multiline">
<div class="column is-one-third">
  <div class="card">
    <div class="card-content">
      <div class="title">
        <% @pokedexes.each do |pokedex| %>
          <%= link_to pokedex.name, pokedex %>
          <p class="card-footer-item"><%= pokedex.name %></p>
          <p class="card-footer-item"><%= pokedex.hp %></p>
          <p class="card-footer-item"><%= pokedex.def %></p>
          <% pokedex.ptypes.each do |type| %>
            <p class="card-footer-item"> <%= type.poke_type %> </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>


<br>

<%= link_to 'New Pokedex', new_pokedex_path %>
