<p id="notice"><%= notice %></p>
<% if @pokedexes.empty? %>
 <p> There are no Pokemon in the Pokedex </p>
<% else %>
<div class="title">
  <div class="column is-one-third">
    <%= paginate @pokedexes, window: 6%>
  </div>
</div>
<div class="subtitle">
  <%= page_entries_info @pokedexes, entry_name: 'item' %>
</div>
<div class = "columns is-multiline">
    <% @pokedexes.each do |pokedex| %>
     <div class="column is-one-third">
      <div class="card">
        <div class="title">
          <%= link_to pokedex.name, pokedex %>
        </div>
        <div class="card-content">
          <p> Stats: </p>
          <p class="card-footer-item"> Hit points: <%= pokedex.hp %></p>
          <p class="card-footer-item"> Attack: <%= pokedex.att %></p>
          <p class="card-footer-item"> Defence: <%= pokedex.def %></p>
          <p> Type(s): </p>
          <% pokedex.ptypes.each do |type| %>
            <p class="card-footer-item"> <%= link_to type.poke_type, type %> </p>
          <% end %>
        </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="title">
  <div class="column is-one-third">
    <%= paginate @pokedexes, window: 6%>
  </div>
</div>




