<p id="notice"><%= notice %></p>

<h3 class = "title is-4"> <%= @pokedex.name %> </h3>
<p> Hit Points: <%= @pokedex.hp %></p>
<p> Attack: <%= @pokedex.att %> </p>
<p> Defence: <%= @pokedex.def %> </p>
<%= image_tag "images/" + '%03d' % @pokedex.image.to_s + ".png"%>
<%= link_to 'Edit', edit_pokedex_path(@pokedex) %> |
<%= link_to 'Back', pokedexes_path %>
