<%= form_with(model: ptype, local: true) do |form| %>
  <% if ptype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ptype.errors.count, "error") %> prohibited this ptype from being saved:</h2>

      <ul>
        <% ptype.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ptype %>
    <%= form.text_field :ptype %>
  </div>

  <div class="field">
    <%= form.label :chinese %>
    <%= form.text_field :chinese %>
  </div>

  <div class="field">
    <%= form.label :japanese %>
    <%= form.text_field :japanese %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
