<p id="notice"><%= notice %></p>

<p>
  <strong>English name:</strong>
  <%= @ptype.ptype %>
</p>

<p>
  <strong>Chinese:</strong>
  <%= @ptype.chinese %>
</p>

<p>
  <strong>Japanese:</strong>
  <%= @ptype.japanese %>
</p>

<%= link_to 'Edit', edit_ptype_path(@ptype) %> |
<%= link_to 'Back', ptypes_path %>
