<p id="notice"><%= notice %></p>
<% if @moves.empty? %>
 <p> There are no Moves in the Pokedex </p>
<% else %>
<div class = "columns is-multiline">
    <% @moves.each do |move| %>
     <div class="column is-one-third">
      <div class="card">
        <div class="title">
          <%= link_to move.name, move %>
        </div>
        <div class="card-content">
          <p> Stats: </p>
          <p class="card-footer-item"> Power: <%= move.power %></p>
          <p class="card-footer-item"> PP: <%= move.pp %></p>
          <p> Type: </p>
          <p class="card-footer-item">
          <% @ptypes = Ptype.where(id: move.ptype_id).first %>
          <%= link_to @ptypes.poke_type, @ptypes%>
          </p>
        </div>
        </div>
      </div>
  <%end%>
</div>
<% end %>


