<p id="notice"><%= notice %></p>
<div class = "columns">
     <div class="column">
      <div class="card">
        <div class="title">
          <%= @move.name %>
        </div>
        <div class="card-content">
          <p> Stats: </p>
          <p class="card-footer-item"> Power: <%= @move.power %></p>
          <p class="card-footer-item"> PP: <%= @move.pp %></p>
          <p> Type: </p>
          <%= @ptypes = Ptype.where(id: @move.ptype_id).first %>
          <p class="card-footer-item"> <%= link_to @ptypes.poke_type, @ptypes %> </p>
        </div>
        </div>
      </div>
</div>

