<%= form_with(model: poketype, local: true) do |form| %>
  <% if poketype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poketype.errors.count, "error") %> prohibited this poketype from being saved:</h2>

      <ul>
        <% poketype.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :poke_id_id %>
    <%= form.text_field :poke_id_id %>
  </div>

  <div class="field">
    <%= form.label :type_id_id %>
    <%= form.text_field :type_id_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
