<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
    <section class="section">

      <header>
        <h1 class="title"> <%= link_to 'PokeDex', root_path %></h1>
        <h2 class="subtitle"> A rather large collection of Pokemon </h2>
      </header>
      <br>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= render partial: 'shared/search_form'%></li>
      </ul>
    </section>
    <%= yield %>
  </body>
</html>
